<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register for Make-A-Sip</h1>
    <form action="/register">
    <input type="text" name="username" placeholder="Type Username Here">
    <input type="password" name="password" placeholder="Type Password Here">
    <input type="email" name="email" placeholder="Type email here">
    <input type="submit" value="Register">
    </form>
</body>
</html>