<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Equipment</title>
</head>
<body>
    <form action="/equipment" method="POST">
    <input type="text" name="name" placeholder="Type name here">
    <input type="submit" value="Add Equipment" >
    </form>
</body>
</html>