<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3><a href="/user/profile">My Profile</a></h3>
    <h3><a href="/recipes/new">Create a Drink</a></h3>
    <a href="/recipes">Browse Recipes</a>
    <form action="/logout?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
      </form>
</body>
</html>