<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <h3>My Info</h3>
    <h3>My favorite drinks</h3>
    <h3>My created drinks</h3>
    <h3>Create a drink</h3>
</body>
</html>