<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <h3><a href="/user/profile/myInfo">My Info</a></h3>
    <h3><a href="/user/profile/favoriteDrinks">My Favorite Drinks</a></h3>
    <h3><a href="/user/profile/createdDrinks">My Created Drinks</a></h3>
    <h3><a href="/recipes/new">Create A Drink</a></h3>
</body>
</html>